#header div {
    background-color: #2012e4;
    padding: 1px;
    border-radius: 1pc;
}
#header div:hover {
    background-color: #4b40e9;
    padding: 1px;
    border-radius: 1pc;
}
#header div h1 {
    display: flex ;
    color: rgb(255, 255, 255);
    display: block;
    text-align:center;
}

body{
    font-family: Arial, sans-serif;
    /* font-size: 25px; */
    padding: 0;
    min-width:1150px ;
    /* background-color: rgb(207, 138, 48); */
}