#header div {
    background-color: rgb(192, 144, 243);
    padding: 1px;
    border-radius: 1pc;
}
#header div:hover {
    background-color: rgb(214, 184, 245);
    padding: 1px;
    border-radius: 1pc;
}
#header div h1 {
    display: flex ;
    color: rgb(255, 255, 255);
    display: block;
    text-align:center;
}

body{
    font-family: Arial, sans-serif;
    /* font-size: 25px; */
    padding: 0;
    width:915px ;
    /* background-color: rgb(207, 138, 48); */
}