body {
    font-family: Arial, sans-serif;
    margin: 1;
    padding: 0;
}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
    border-radius: 10pc;
    width: 120px;
}

section {

    padding-left: 20px;
}

#about {
    margin: 10px;
}

#about p {
    font-size: 20px;
}

#takbar {
    margin: 2PX;

    border-radius: 10pc;
}