#header {
    padding-top: 50px;
    width: 200px;
    height: 500px;
    background-color: aqua;
}

#header>li {

    width: 100%;
    height: 100px;
    background-color: aqua;
    font-size: 30px;
    color: #ffff;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#header>li:hover {
    /* padding-top: 50px; */
    /* height: 90px; */
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    color: red;
    /* font-size: 30px; */
}