body {
    font-family: Arial, sans-serif;
    margin: 1;
    padding: 0;
    min-width:840px ;
}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#415ee0;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #7ba1db;
    border-radius: 10pc;
    width: 120px;
}

section {
    color: #415ee0;
    padding-left: 20px;
}

#about {
    margin: 10px;
    overflow: hidden;
}

#about p {
    color: #4955c0;
    font-size: 20px;
    width: 420px;
    height: 300px;
}
#about div {
    margin-left: 420px;
    background-image: url(../photo/thonpheakdey.jpg);
    background-size:500px 300px;
    width: 500px;
    height: 300px;
    margin-top: -320px;
    
}
#takbar {
    margin: 2PX;

    border-radius: 10pc;
}