 /* This is the CSS code for the design of the website */
 body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
  }
  
  h1 {
    text-align: center;
    color: white;
  }

  .container {
    width: 80%;
    margin-top: 29px;
    margin-left: 10px;
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .info {
    border: 1px solid black;
    padding: 10px;
  }

  .footer {
    text-align: center;
    margin-top: 20px;
  }