#inputred  > input {
    background-color: rgba(255, 0, 0, 0.349);
    border-radius: 19px;
    padding: 10px 10px ;
    margin-left: 10px;    
    margin: 8px;
    font-size: 20px;
    color: aliceblue;
}
#btnCreale>button {
    background-color: #fded03;
    width: 200px;
    margin-top: -5px;
    color: blue;
    margin-left: 90px;
    height: 40px;
    border-radius: 10px;
    font-size: 24px;
}
.input {
    width: 25%;
    font-size: 24px;
    height: 55px;
    border-radius: 19px;
    margin: 5px;
    margin-left: 10px;
}
.inputn {
    width: 9%;
    font-size: 24px;
    height: 55px;
    border-radius: 19px;
    margin: 5px;
    margin-left: 10px;
}
#rel {
    width: 90%;
    background-color: #ffffff;
}
#headresal {
    width: 100%;
    margin: 10px;
}


#headresal>p {
    width: 93%;
    height: 50px;
    font-size: 24px;
    color: #1960ff;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-start;
    border-radius: 30px;
    border: dotted;
    padding-left: 20px;
}