
#homebtn{
    color: #1960ff;
    font-size: 50px;
    margin: 10px;
}
#header1 {
    width: 95%;
    border-radius: 33px;
    padding: 14px;
    border: double;
    color: blue;
  margin-top: 10px;
}

.input {
    width: 37%;
    font-size: 24px;
    height: 55px;
    border-radius: 19px;
    margin: 5px;
    margin-left: 10px;
}

#btnCreale {
    width: 700px;
    height: 54px;
    margin: 15px;
}


#btnCreale>button {
    background-color: #ffee00;
    width: 200px;
    margin-top: -5px;
    color: blue;
    margin-left: 90px;
    height: 65px;
    border-radius: 10px;
    font-size: 24px;
}

#headresal {
    width: 100%;
    margin: 10px;
}

#headresal>p {
    width: 93%;
    height: 50px;
    font-size: 24px;
    color: #1960ff;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-start;
    border-radius: 30px;
    border: dotted;
}

