body{
    margin: 0px;
}
#header {
    background: linear-gradient(to bottom, #57a7ff, #df8ae3);
    color: aliceblue;
    text-align: center;
    padding: 1rem;
}

#proflie_logo {
    border-radius: 100%;
    margin-bottom: 0.5rem;
    
}

.text_header {
    margin: 3px;
}

/* taskbar */
#taskbar {
    background-color: #f1ebeb3b;
    color: white;
    padding: 9px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;

}

#taskbar button {
    background-color: #df8ae3;
    padding-top: 7px;
    border-radius: 15px;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#taskbar :hover {
    background-color: #bf0ec9;
}

#taskbar button a {
    color: #f5f5f5;
    text-decoration: inherit;
}

/* .............. .............. ............ */

#home {
    height: 1000px;
    background-color: #57a7ff;
}

#products {
    height: 1000px;
    background-color: #0e2033;
}